<div class="dashboard-part">
    <div class="header">
        <div class="title-note">
            <h4>{{ note.title }}</h4>
        </div>
        <div class="right-col">
            <label for="">Last Update: 11:46am, 21/09/2019</label> 
        </div>
        <div class="part-btn right-col">
            <a class="space-10" href="http://">Edit</a>
            <a class="space-10" href="http://">Delete</a>
            <a href="http://">Save</a>
        </div>
       
    </div>
    <div class="content">
        <div class="content-note">
            <textarea>{{ note.content }}</textarea>
        </div>
    </div>
</div>
