.dashboard-part {
    margin: 10px 0px;
    color: white;

    .header {
        display: grid;
        grid-template-columns: 60% 10% 30%;
        height: 50px; 
        line-height: 50px;
        text-align: left;
        background: #383838;
        padding: 0px 20px;

        .title-note {
        
            h4 {
                cursor: pointer;    
                margin-bottom: 0px;
                line-height: 45px;
            }
        }

        .part-btn {
            text-align: right;
            padding-right: 2px;
            position: relative;

            .btn-note {
                height: 35px;
                width: 70px;
                line-height: 32px;
                background: white;
                border: unset;

                &:hover {
                    background: #0D36F2;
                    color: white;
                }
            }
    
        }
    }

    .content {        
        margin-top: 10px;
        padding: 0px 20px;
        
        .content-note {
            clear: both;
            border: 1px solid;

            textarea {
                overflow: scroll; 
                white-space: nowrap;
                width: 100%;
                min-height: 500px;
                padding: 20px;
                background: #383838;
                color: white;
            }
        }
    }
}